<!DOCTYPE html>
<html ng-app="tacosweeper">
  <head>
    <title>Tacosweeper</title>
    <script src="lib/angular.js"></script>
    <script src="app.js"></script>
    <script src="controllers/TacosweeperController.js"></script>
    <script src="directives/myDirectives.js"></script>
    <link rel="stylesheet" href="css/styles.css">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
  </head>
  <body>
    <div ng-controller="TacosweeperCtrl">
      <h3 ng-if="isWinMessageVisible">You Won!</h3>
      <h3 ng-if="isLostMessageVisible">You've Lost!</h3>
      <button class="btn btn-primary" ng-click="newGame()">Start New Game</button>
      <table border="1" class="tacofield">
        <tr ng-repeat="row in tacofield.rows">
          <td ng-repeat="spot in row.spots" ng-click="uncoverSpot(spot)" ng-right-click="flag(spot)">
            <img class="square" ng-if="spot.isFlagged && spot.isCovered" src="css/images/taco.png">
            <img class="square" ng-if="spot.isCovered && !spot.isFlagged" src="css/images/covered.png">
            <img class="square" ng-if="!spot.isCovered  && spot.content == 'empty' " src="css/images/empty.png">
            <img class="square" ng-if="!spot.isCovered && spot.content == 'bomb' " src="css/images/trump.jpg">
            <img class="square" ng-if="!spot.isCovered && spot.content == 1" src="css/images/number-1.png">
            <img class="square" ng-if="!spot.isCovered && spot.content == 2" src="css/images/number-2.png">
            <img class="square" ng-if="!spot.isCovered && spot.content == 3" src="css/images/number-3.png">
            <img class="square" ng-if="!spot.isCovered && spot.content == 4" src="css/images/number-4.png">
            <img class="square" ng-if="!spot.isCovered && spot.content == 5" src="css/images/number-5.png">
            <img class="square" ng-if="!spot.isCovered && spot.content == 6" src="css/images/number-6.png">
            <img class="square" ng-if="!spot.isCovered && spot.content == 7" src="css/images/number-7.png">
            <img class="square" ng-if="!spot.isCovered && spot.content == 8" src="css/images/number-8.png">
          </td>
        </tr>
      </table>
  </div>
  </body>
</html>
