<!DOCTYPE html>
<html ng-app="tacosweeper">
  <head>
    <title>Tacosweeper</title>
    <script src="lib/angular.js"></script>
    <script src="app.js"></script>
    <script src="controllers/TacosweeperController.js"></script>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div ng-controller="TacosweeperCtrl">
      <h3 ng-if="isWinMessageVisible">You Won!</h3>
      <table border="1" class="tacofield">
        <tr ng-repeat="row in tacofield.rows">
          <td ng-repeat="spot in row.spots" show-spot>
       <!-- ng-click="uncoverSpot(spot)"> -->
            <!-- <img ng-if="spot.isCovered" src="css/images/covered.png">
            <img ng-if="!spot.isCovered  && spot.content == 'empty' " src="css/images/empty.png">
            <img class="bomb" ng-if="!spot.isCovered && spot.content == 'bomb' " src="css/images/trump.jpg">
            <img ng-if="!spot.isCovered && spot.content == 1" src="css/images/number-1.png">
            <img ng-if="!spot.isCovered && spot.content == 2" src="css/images/number-2.png">
            <img ng-if="!spot.isCovered && spot.content == 3" src="css/images/number-3.png">
            <img ng-if="!spot.isCovered && spot.content == 4" src="css/images/number-4.png">
            <img ng-if="!spot.isCovered && spot.content == 5" src="css/images/number-5.png">
            <img ng-if="!spot.isCovered && spot.content == 6" src="css/images/number-6.png">
            <img ng-if="!spot.isCovered && spot.content == 7" src="css/images/number-7.png">
            <img ng-if="!spot.isCovered && spot.content == 8" src="css/images/number-8.png"> -->

          </td>
        </tr>
      </table>
  </div>
  </body>
</html>
